@model squadmanager.Models.UserViewModel

@{
	Layout = null;

}

 <link rel="stylesheet" href="~/css/Login.css" />

<section>

	<h1>Autenticação</h1>
	<form>
	<input required type="text" name="email" value="@Model.Email" placeholder="Username / Email" id="email"/>
	<input required type="password" name="password" value="" placeholder="Senha" id="password"/>
	<a href="/Login/forgot">Esqueceu a senha</a>

	<button type="submit" onclick="login(event)">Login</button>
	</form>
	<label>Não tem conta?</label>
	<a href="/login/signup">Crie aqui</a>
	
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Login.js"></script>