@page
@model squadmanager.Views.Login.SignupModel
@{
	Layout = null;
}

<section>

	<h1>Crie a sua conta de graça.</h1>
	<form>
		<input placeholder="username"/>
		<input placeholder="E-mail"/>
		<input placeholder="Senha"/>
		<input placeholder="Confirmar Senha"/>
		<button>Criar</button>
		<a href="/login">Voltar</a>
	</form>
</section>