@page
@model squadmanager.Views.Login.SignupModel
@{
	Layout = null;
}

<link rel="stylesheet" href="~/css/Login.css" />

<section>

	<h1>Crie a sua conta de graça.</h1>
	<form>
		<input id="username" placeholder="username"/>
		<input id="email" placeholder="E-mail"/>
		<input id="password" placeholder="Senha"/>
		<input id="confirmPassword"placeholder="Confirmar Senha"/>
		<button type="submit" onclick="login(event)">Criar</button>
		<a href="/login">Voltar</a>
	</form>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Signup.js"></script>